In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn import tree

car_test = pd.read_csv('Car Accidents IOT/Car Accidents IOT/test.csv')
car_train = pd.read_csv('Car Accidents IOT/Car Accidents IOT/train.csv')

car_train.head(2)

,Fatal,S1,S2,S3,S4,S5,S6,S7,S8,S9,...,S13,S14,S15,S16,S17,S18,S19,S20,S21,S22
0,1,36.2247,10.7733,0.243897,596,100.671,0.0,0.0,1,28,...,1,57,0.0,0.280,240,5.99375,0,0.0,4,14.9382
1,1,35.7343,17.4551,0.243897,600,100.000,0.0,0.0,1,14,...,1,57,0.0,0.175,240,5.99375,0,0.0,4,14.8827

In [2]:
car_train.shape
car_test.shape

(9065, 23)

In [3]:
x = car_train [ car_train.columns[1:23] ]
y = car_train['Fatal']

In [4]:
x.head(2)

,S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,...,S13,S14,S15,S16,S17,S18,S19,S20,S21,S22
0,36.2247,10.7733,0.243897,596,100.671,0.0,0.0,1,28,0.016064,...,1,57,0.0,0.280,240,5.99375,0,0.0,4,14.9382
1,35.7343,17.4551,0.243897,600,100.000,0.0,0.0,1,14,0.015812,...,1,57,0.0,0.175,240,5.99375,0,0.0,4,14.8827

In [5]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=25, min_samples_split=2, min_samples_leaf=1, random_state=0)

In [6]:
# Train Model
clf.fit(x, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=25,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [7]:
# Predict for car_test
var=list( car_test.columns[1:33] )
tree_predict = clf.predict( car_test[ var ] )

In [8]:

# Confusion matrix for validating model

from sklearn.metrics import confusion_matrix

cm1 = confusion_matrix( car_test[['Fatal']], tree_predict )
cm1

array([[3441,  451],
       [ 220, 4953]], dtype=int64)

In [9]:
accuracy = (3441+4953) / (220+451+3441+4953)
accuracy

0.9259790402647545

# so Accuracy Here is 92%

so as you increase estimator count the accuracy increased